@use "../../styles.scss";
$button-height: 35px;

.but{
    position:relative;
    box-sizing: border-box;
    background-color: #f2f0ef;
    width: styles.$width*0.23; 
    height: $button-height;
    border: 1px black solid;
    border-radius: 20%;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    line-height: $button-height;
}